.navbar {
  background-color: #710200;
  background-image: linear-gradient(
    0deg,
    #710200 0%,
    #000000 50%,
    #1b1b1a 100%
  );
  position: sticky;
  top: 0;
}
.divImagen {
  display: flex;
}
.logoMarvel {
  width: 90px;
  height: 30px;
}
