.containerVideo{
 width: 100%;
 height: 100vh;
 object-fit:contain;
 box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.video{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
.containerTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.057);
    border-radius: 20px;
    
}

.containerTitulo > h1 {
    font-size: 30px;
    color: rgb(148, 147, 147);
}
.containerTitulo > p {
    font-size: 15px;
    color: rgb(132, 132, 132);
    padding: 10px;
}
.btn{
    border-radius: 10px;
    color: gray;
    
}
.marvelStudios{
width: 300px;
height: 150px;
}
